/* styles.css */
body, header, .container {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #E4E4E4;
}
header {
  color: #333;
  text-align: center;
  padding: 1em;
}
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}
iframe.google-calendar {
  width: 100%;
  height: 600px;
  border: none;
}
.footer-note {
  font-size: 0.8em;
  color: #333;
  margin-bottom: 10px;
}
@media only screen and (max-width: 600px) {
  header, .container {
    padding: 0.5em;
  }
}
